@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.tiptap {
  min-height: 300px;
  padding: 10px 20px;
  width: 100%;
}

.ProseMirror-focused{
  border: none;
  outline: none;
}
ol li{
  list-style: decimal;
}
ul li{
  list-style: disc;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

a{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}